@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('/static/fonts/RobotoCondensed-Light.eot'); /* For IE6-8 */
  src: url('/static/fonts/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/RobotoCondensed-Light.woff') format('woff'),
  url('/static/fonts/RobotoCondensed-Light.otf') format('truetype'),
  url('/static/fonts/RobotoCondensed-Light.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/RobotoCondensed-Regular.eot'); /* For IE6-8 */
  src: url('/static/fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/RobotoCondensed-Regular.woff') format('woff'),
  url('/static/fonts/RobotoCondensed-Regular.otf') format('truetype'),
  url('/static/fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/RobotoCondensed-Bold.eot'); /* For IE6-8 */
  src: url('/static/fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/RobotoCondensed-Bold.woff') format('woff'),
  url('/static/fonts/RobotoCondensed-Bold.otf') format('truetype'),
  url('/static/fonts/RobotoCondensed-Bold.ttf') format('truetype');
}
