CONTAINER_WEBSITE_NAME=trytondo-website-app
CONTAINER_MEMCACHED_NAME=trytondo-website-memcached
CONTAINER_CRITICAL_CSS_NAME=trytondo-website-critical-css
WEBSITE_IMAGE=registry.solutema.com/tryton/tryton-republica-dominicana/website
WEBSITE_TAG=website
CRITICAL_CSS_IMAGE=registry.solutema.com/tryton/tryton-republica-dominicana/website
CRITICAL_CSS_TAG=critical-css
DOMAIN=example.com
