{% set img = url_for('static', filename='images/service-providers/adiczion.jpg') %}
{% set website = 'http://adiczion.com/' %}
{% set email = 'contact@adiczion.com' %}
{% set phone = '+33950693113' %}
{% extends "service_providers/layout.html" %}
{% block description %}
A service company with the aim of promoting the use of the free software in
companies. Specialist in integration of the Tryton ERP we offer consulting
services, accompaniment, and development of functional complement around this
solution.
{% endblock description %}
{% block location %}Aix en Provence, France{% endblock %}
