{% set img = url_for('static', filename='images/service-providers/coopengo.webp') %}
{% set website = 'https://www.coopengo.com/' %}
{% set email = 'info@coopengo.com' %}
{% extends "service_providers/layout.html.jinja" %}
{% block description %}
Provides an open source software package that is fully dedicated to Life
Insurance back-office activities.
Leveraging Tryton technical and cross-business features, our R&amp;D team built
a vertical open source solution based on a rule engine and a business process
management, providing to the market a highly flexible tool to manage their
activity.
{% endblock description %}
{% block location %}Paris, France{% endblock %}
