{% set img = url_for('static', filename='images/service-providers/datalife.webp') %}
{% set website = 'https://datalifeit.es/' %}
{% set email = 'info@datalifeit.es' %}
{% set phone = '+34868057451' %}
{% set stories = ['grufesa'] %}
{% extends "service_providers/layout.html.jinja" %}
{% block description %}
A Spanish company with an experienced team of software engineers that provides
IT solutions and consulting for a wide range of companies.
We have a deep knowledge of the agriculture sector and provide our vertical
software "4agro" based on Tryton.
Our business is driven by three guidelines: engineering (using the best
techniques and practices), improvement (constantly keeping our professionals
updated in the latest technologies) and services (ensuring high-quality
services).
{% endblock description %}
{% block location %}Murcia, Spain{% endblock %}
