{% set img = url_for('static', filename='images/service-providers/inrowga.webp') %}
{% set email = 'info@inrowga.com' %}
{% set stories = ['legna'] %}
{% extends "service_providers/layout.html.jinja" %}
{% block description %}
A company providing consulting and information technology services with experience implementing products and computer tools.
{% endblock %}
{% block location %}Santo Domingo, Dominican Republic{% endblock %}
