{% set img = url_for('static', filename='images/service-providers/integraper.webp') %}
{% set website = 'https://integraper.com/' %}
{% set email = 'informes@integraper.com' %}
{% set phone = '+51999444236' %}
{% set stories = ['camir'] %}
{% extends "service_providers/layout.html.jinja" %}
{% block description %}
Implementation of ERP systems with free licensing; Tryton ERP and GNU Health.
Integral Implementations of ERP Solutions, from the functional and technical perspective, we develop customized modules.
{% endblock description %}
{% block location %}Lima, Perú{% endblock %}
