{% set email = 'vincent@lavalab.com.au' %}
{% set stories = ['sinclair-containers'] %}
{% extends "service_providers/layout.html.jinja" %}
{% block description %}
An Australian based company specialising in the development of business
specific solutions and services for a range of industries using open source
software.
Our best asset is our experience and understanding in developing web based
business management solutions.
Our team is focusing on implementing solutions based on Tryton and are
continuously developing modules and custom developed software to suit a range
of industries including equipment hire, property management and e-commerce.
{% endblock description %}
{% block location %}Australia{% endblock %}
