<div class="col mb-gutter" id="{{ name | lower | replace(' ', '-') }}">
    <div class="card mx-auto shadow d-flex flex-colum" style="width: 24rem; height: 100%">
        <a href="{{ website }}" style="height: 240px">
            {% if img %}
            <noscript class="loading-lazy">
                <img class="card-img-top text-center d-block" src="{{ img }}" alt="{{ name }}" loading="lazy"/>
            </noscript>
            {% endif %}
        </a>
        <div class="card-body">
            <h2 class="h5 card-title">{{ name }}</h2>
            <p class="card-text" style="max-height: 200px; overflow-y: auto;">
            {% block description %}{% endblock %}
            </p>
            {% if website %}
            <a href="{{ website }}"><span class="material-icons">web</span></a>
            {% endif %}
            {% if email %}
            <a href="mailto:{{ email }}"><span class="material-icons">email</span></a>
            {% endif %}
            {% if phone %}
            <a href="tel:{{ phone }}"><span class="material-icons">phone</span></a>
            {% endif %}
        </div>
        <div class="card-footer text-truncate">
            {% block location %}{% endblock %}
        </div>
    </div>
</div>
