{% set img = url_for('static', filename='images/service-providers/power-solutions.webp') %}
{% set website = 'https://www.powersolutions.ch/' %}
{% set email = 'contact@powersolutions.ch' %}
{% set phone = '+41412111222' %}
{% set stories = ['als-swiss', 'blue-box-distribution', 'felber', 'wenger-energie'] %}
{% extends "service_providers/layout.html.jinja" %}
{% block description %}
Since 2012 we have offered Tryton cloud servers that you can easily rent (SAAS).
We offer consulting, integration, extension and support for Tryton solutions.
Also check out <a href="https://www.tryton.cloud/">tryton.cloud</a>.
{% endblock description %}
{% block location %}Lucerne, Switzerland{% endblock %}
