{% set img = url_for('static', filename='images/service-providers/solutema.webp') %}
{% set website = 'https://www.solutema.com/' %}
{% set email = 'info@solutema.com' %}
{% set phone = '+18095370195' %}
{% set stories = ['cartonersrd', 'printssmart', 'inversionesgd', 
'administraciondealquiler', 'dircana', 'codificate', 'aroma91fm'] %}
{% extends "service_providers/layout.html" %}
{% block description %}
Software company that provide Tryton to customers on premise or cloud. 
We provide advice, consultancy, domain, hosting, support,  development and 
training services throught a platform or highly trained staff.
{% endblock %}
{% block location %}Santo Domingo, Dominican Republic{% endblock %}
