{% set img = url_for('static', filename='images/service-providers/solutema.webp') %}
{% set website = 'https://www.solutema.com/' %}
{% set email = 'info@solutema.com' %}
{% set stories = ['cartonersrd', 'printssmart', 'inversionesgd', 'administraciondealquiler', 'dircana', 'codificate', 'aroma91fm'] %}
{% extends "service_providers/layout.html" %}
{% block description %}
SOLUTEMA SRL is a Santo Domingo, Dominican Republic based software company founded in August 2009. It is a company that offers information technology services and software development specialized.
{% endblock %}
{% block location %}Santo Domingo, Dominican Republic{% endblock %}
