{% set img = url_for('static', filename='images/service-providers/virtual-things.webp') %}
{% set website = 'https://www.virtual-things.biz/' %}
{% set email = 'info@virtual-things.biz' %}
{% set phone = '+498971048155' %}
{% extends "service_providers/layout.html.jinja" %}
{% block description %}
An active promoter of the Tryton development since the early stages.
We offer support for the consulting, planning and integration phases as well as
customizing and special module development.
{% endblock description %}
{% block location %}Munich and Aachen, Germany{% endblock %}
