{% set img = url_for('static', filename='images/service-providers/wuerfel-datentechnik.webp') %}
{% set website = 'https://www.wuerfel-datentechnik.de/' %}
{% set email = 'info@wuerfel-datentechnik.de' %}
{% set phone = '+4972619495740' %}
{% set stories = ['markom-offroad'] %}
{% extends "service_providers/layout.html.jinja" %}
{% block description %}
A service provider specialized in free open source solutions for owner-operated small and medium-sized businesses.
{% endblock description %}
{% block location %}Sinsheim, Germany{% endblock %}
