{% set title = "AMMEBA" %}
{% set description = "Success story of AMMEBA implementing Tryton" %}
{% set keywords = ["success story", "review", "case study"] %}
{% set banner = "ammeba/banner" %}
{% set logo = "images/success-stories/ammeba.jpg" %}
{% extends "success_stories/layout.html" %}
{% block customer %}
{{ super() }}
<p class="lead">
<noscript class="loading-lazy">
    <img src="{{ url_for('static', filename='images/success-stories/ammeba/logo.jpg') }}" class="mr-2 float-left" alt="Ammeba logo" loading="lazy">
</noscript>
<a href="http://ammeba.femeba.org.ar/">FEMEBA</a> is the Buenos Aires Medical Mutual Society.
It's one of the largest medical groups in the country. They use an e-commerce platform to deliver services to their associates.</p>
{% endblock customer %}
{% block challenge %}
{{ super() }}
<p>FEMEBA approached <a href="https://www.gcoop.coop/">gcoop</a> at first to develop their e-commerce system and a management platform for tracking sales, collections and suppliers.
They needed software that could provide:</p>
<ul>
    <li>Associates management</li>
    <li>Integration between stock levels and online sales</li>
    <li>Invoicing</li>
    <li>Sales</li>
    <li>Purchases</li>
    <li>Reporting, including picking list report customization</li>
    <li>A web service that provides a <a href="https://en.wikipedia.org/wiki/Representational_state_transfer">RESTful API</a></li>
</ul>
{% endblock challenge %}
{% block solution %}
{{ super() }}
<p>Tryton was chosen as the base for the system as it already provided much of the functionality that was needed.
It was decided that the web system for online sales and invoicing should be integrated with Tryton.
Another decision was made to import the list of associates, along with their custom data.
This would then allow the system to validate the associates data and their purchasing possibilities.</p>
{% endblock solution %}
{% block implementation %}
{{ super() }}
<p>A REST service was developed using <a href="https://pypi.python.org/pypi/flask_tryton">flask_tryton</a> for the integration with the e-commerce web platform.
The integration between these two systems involved the products being loaded onto the web system, and then imported into Tryton.<p>
<p>When a purchase is made on the web, it calls a <a href="https://en.wikipedia.org/wiki/Representational_state_transfer">REST API</a> and a sale is automatically created in the management system.
After that, the operator must process the sale, and using the <a href="//docs.tryton.org/projects/modules-sale-credit-limit/en/latest/index.html">sale_credit_limit</a> module they can check if the associate has enough available credit to complete the service purchase.</p>
{% endblock implementation %}
{% block results %}
{{ super() }}
<p>The project had two stages.
It started at the end of 2015 with web development on <a href="https://www.drupal.org/">Drupal</a>.
Then, it went into a second stage building the Tryton management system, customizing reports and entities to adjust these to FEMEBA's needs.
An associate of AMMEBA can now buy from the website association easily.</p>
{% endblock %}
{% block provider %}
{{ super() }}
<p><a href="https://www.gcoop.coop/">gcoop</a> provided its development experience with Tryton and web development with Drupal</p>
{% endblock %}
