{% set title = "Inmedio Berlin" %}
{% set description = "Success story of Inmedio Berlin implementing Tryton" %}
{% set keywords = ["success story", "review", "case study", "institute"] %}
{% set banner = "inmedio-berlin/banner" %}
{% set logo = "images/success-stories/inmedio-berlin.webp" %}
{% extends "success_stories/layout.html.jinja" %}
{% block customer %}
{{ super() }}
<p class="lead">
<a href="https://www.inmedio.de/">Inmedio</a> Berlin is an institute covering the fields of
</p>
<ul>
    <li>Supervision</li>
    <li>Mediation</li>
    <li>Organisational development</li>
    <li>Conflict management</li>
    <li>Peace mediation and dialogue</li>
    <li>Sexual violence prevention and intervention</li>
    <li>Crisis intervention</li>
</ul>
<p>
Inmedio has an excellent reputation not only in Berlin and Germany, but also internationally.
Their customers are individuals, families, companies, universities and national (e.g. foreign ministry of Germany) and international institutions.
The institute has several years of experience in moderating international conflicts in Europe (e.g. Ukraine/Russia, Armenia/Azerbaijan), Africa (Ethiopia) and Asia (Sri Lanka).
The core team consists of five partners who mainly work together remotely.
</p>
{% endblock customer %}
{% block challenge %}
{{ super() }}
<p>
The company used Excel, Word, vCard, and DropBox for its administration and management but these tools had reached their limits.
The main challenge was to collect together widely spread data that was stored in many different files and bring it into one integrated system.
This data included:
</p>
<ul>
    <li>Adresses/contacts grouped by categories which should be made available for e-mail/phone system/mobiles as a seed for Customer relation management.</li>
    <li>Member groups, including offers, contracts, billing and printing certificates.</li>
    <li>Accounting via net income method.</li>
    <li>International billing handling German, Swiss and European VAT regulations.</li>
    <li>Partner Cost Centre.</li>
    <li>Customers Dunning</li>
    <li>Banking reports</li>
    <li>Projects and budgeting</li>
</ul>
<p>
The objective was to store all of this data in a cloud solution, as most of the work is done from home offices or while travelling.
All data should be secured with <a href="https://en.wikipedia.org/wiki/Multi-factor_authentication">2-factor authentication</a> or <a href="https://en.wikipedia.org/wiki/Virtual_private_network"><abbr title="Virtual Private Network">VPN</abbr></a>.
</p>
{% endblock challenge %}
{% block solution %}
{{ super() }}
<p>
Tryton perfectly served the customer's needs, combined with a very reasonable total cost of ownership.
We decided take advantage of Long Term Support and started with Tryton 6.0, the latest LTS release at the time.
The main solution uses existing modules except for the vCard synchronisation.
A custom interface which synchronises the contact data on a regular basis was developed to fill this gap.
Moreover we had to improve the reporting, especially on cost centre and taxes.
</p>
{% endblock solution %}
{% block implementation %}
{{ super() }}
<p>
It was decided to run the servers on our cloud partner <a href="https://www.hetzner.com/">Hetzner</a> who provides very stable, secure and green data centers in Germany and Finland.
The main effort went on collecting, harmonising and importing the data.
We also created service templates as defaults to cover a decent amount of special VAT and cost centre variations.
Some improvements where also done to the reporting, especially for cost centre and taxes.
To get the system going we did live training sessions with the customer and agreed on having weekly online meetings to ensure everything kept running smoothly.
A lot of parties and banking information had to be entered into the system, but the positive influence on the workload was noticeable after the first 6 weeks.
Since 1st of January 2022 all company invoices have been generated by Tryton.
</p>
<p>
After some time we noticed that once bank reports were imported (by <a href="https://en.wikipedia.org/wiki/MT940">MT940</a>) we were not able to book on the imported lines, so we decided to create an extension.
Now, we are able to book the imported bank lines straight in.
We also needed custom reports (prima nota) which were added to the system.
</p>
{% endblock implementation %}
{% block results %}
{{ super() }}
<p>
After two months of testing, the tax report looks as beautiful as a tax report can do.
The customer also saves a good amount of money by not having to use an external tax consultant anymore.
</p>
{% endblock %}
{% block provider %}
{{ super() }}
<p><a href="https://www.m-ds.de/">m-ds</a></p>
<p>We want to express our gratitude to David Harper (totp-module), Korbinian Preisler (advice on configuring taxes and many hints!) and the Tryton Fondation and its supporters and community!</p>
{% endblock %}
