{% set title = "Get Tryton" %}
{% set description = "How to download and install Tryton" %}
{% set keywords = ["download", "install"] %}
{% set toc = [
    ("Demo", 'demo', None),
    ("Docker Image", 'docker', None),
    ("Desktop Client", 'desktop-client', None),
    ("Source Files", 'source', None),
    ("Chronos", 'chronos', None),
    ("Packages", 'packages', None),
    ("Distributions", 'distributions', None),
    ("Third Party Modules", 'third-party-modules', None),
    ]
%}
{% extends "layout-toc.html" %}
{% from "utils.html" import background with context %}
{% block style %}
{{ super() }}
{{ background('banner-download') }}
{% endblock %}
{% block content %}
<div class="section section-banner background-banner-download filter filter-primary text-center lazy">
    <div class="container">
        <h1 class="mb-0 text-white position-relative z-1">{{ title }}</h1>
    </div>
</div>
{{ super() }}
{% endblock content %}

{% block main %}
<p class="lead">Tryton has a <a href="https://en.wikipedia.org/wiki/Multitier_architecture#Three-tier_architecture">Three-tier architecture</a>.
It is composed of an application server which connects to a <a href="https://www.postgresql.org/">PostgreSQL</a> database, a web or desktop client for the presentation and a set of server modules for the business logic.</p>
<p>Tryton is released by series (same major and minor version numbers) every 6 months
and they are supported for 1 year except for new major which has long term support of 5 years.</p>
<section class="subsection">
    <h2 id="demo">Try without installing</h2>
    <p>We host a public shared demo server.
    It is filled with some example data that gets reset every day.</p>
    <div class="row">
        <div class="col-xl-6 order-xl-2">
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <td></td>
                        <th scope="col">User name</th>
                        <th scope="col">Password</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">English</th>
                        <td>demo</td>
                        <td>demo</td>
                    </tr>
                    <tr>
                        <th scope="row">Español</th>
                        <td>demo_es</td>
                        <td>demo</td>
                    </tr>
                    <tr>
                        <th scope="row">Français</th>
                        <td>demo_fr</td>
                        <td>demo</td>
                    </tr>
                    <tr>
                        <th scope="row">Deutsch</th>
                        <td>demo_de</td>
                        <td>demo</td>
                    </tr>
                    <tr>
                        <th scope="row">Administrator</th>
                        <td>admin</td>
                        <td>admin</td>
                    </tr>
                </tbody>
            </table>
            <p class="text-warning">This is a shared server, so please do not change the password or the user's language.</p>
        </div>
        <div class="col-xl-4 order-xl-1"><a href="//demo.tryton.org/" class="btn btn-primary text-white mx-auto mt-3">Launch the demo</a></div>
    </div>
</section>
<section class="subsection">
    <h2 id="docker" class="">Docker Image</h2>
    <p>A docker container that comes pre-installed with the server, modules and web client.
    This is a very simple way of locally installing and exploring the application.
    It is also production ready for easy deployment.
    These images are updated every week.</p>
    <p>
    <a href="https://hub.docker.com/r/tryton/tryton/" class="btn btn-primary">
        <i class="icon icon-docker"></i> Download
    </a>
    </p>
</section>
<section class="subsection">
    <h2 id="desktop-client">Desktop Client</h2>
    <p>A ready-to-use client for your desktop.
    You can manage and connect to different servers using the same client.</p>
    <p>
    Current version:<br/>
    <a href="https://downloads.tryton.org/current/tryton-32bit-last.exe" class="btn btn-outline-primary" title="Download for Windows 32bit">
        <i class="icon icon-windows"></i> Windows 32bit
    </a>
    <a href="https://downloads.tryton.org/current/tryton-64bit-last.exe" class="btn btn-outline-primary" title="Download for Windows 64bit">
        <i class="icon icon-windows"></i> Windows 64bit
    </a>
    <a href="https://downloads.tryton.org/current/tryton-last.dmg" class="btn btn-outline-primary" title="Download for macOS">
        <i class="icon icon-apple"></i> macOS
    </a>
    </p>
    <p>
    Long term support:<br/>
    <a href="https://downloads.tryton.org/lts/tryton-32bit-last.exe" class="btn btn-outline-primary" title="Download for Windows 32bit">
        <i class="icon icon-windows"></i> Windows 32bit
    </a>
    <a href="https://downloads.tryton.org/lts/tryton-64bit-last.exe" class="btn btn-outline-primary" title="Download for Windows 64bit">
        <i class="icon icon-windows"></i> Windows 64bit
    </a>
    <a href="https://downloads.tryton.org/lts/tryton-last.dmg" class="btn btn-outline-primary" title="Download for macOS">
        <i class="icon icon-apple"></i> macOS
    </a>
    </p>
    <p class="text-info">For other platforms, use the <a href="#source">source files</a></p>
</section>
<section class="subsection">
    <h2 id="source">Source Files</h2>
    <p>The source code for the release of each component is available in an archive file.
    These are useful for creating packages.</p>
    <p>
    Current version:<br/>
    <a href="https://downloads.tryton.org/current/" class="btn btn-outline-primary mr-2">Browse</a>
    <a href="https://downloads.tryton.org/current/trytond-last.tar.gz" class="btn btn-outline-primary">Server</a>
    <a href="https://downloads.tryton.org/current/tryton-last.tar.gz" class="btn btn-outline-primary">Desktop Client</a>
    <a href="https://downloads.tryton.org/current/tryton-sao-last.tgz" class="btn btn-outline-primary">Web Client</a>
    <a href="https://downloads.tryton.org/current/proteus-last.tgz" class="btn btn-outline-primary">Console Client</a>
    </p>
    <p>
    Long term support:<br/>
    <a href="https://downloads.tryton.org/lts/" class="btn btn-outline-primary mr-2">Browse</a>
    <a href="https://downloads.tryton.org/lts/trytond-last.tar.gz" class="btn btn-outline-primary">Server</a>
    <a href="https://downloads.tryton.org/lts/tryton-last.tar.gz" class="btn btn-outline-primary">Desktop Client</a>
    <a href="https://downloads.tryton.org/lts/tryton-sao-last.tgz" class="btn btn-outline-primary">Web Client</a>
    <a href="https://downloads.tryton.org/lts/proteus-last.tgz" class="btn btn-outline-primary">Console Client</a>
    </p>
</section>
<section class="subsection">
    <h2 id="chronos">Chronos</h2>
    <p>We also publish an optional add-on that can be used to manage timesheets from inside your browser.</p>
    <p>
    <a href="https://addons.mozilla.org/en-US/firefox/addon/tryton-chronos/" class="btn btn-outline-primary" title="Download for Firefox">
        <i class="icon icon-firefox"></i> Firefox
    </a>
    <a href="https://chrome.google.com/webstore/detail/chronos/ikhcoclknebokeabdhaaggmmookkndmp" class="btn btn-outline-primary" title="Download for Chrome">
        <i class="icon icon-google-chrome"></i> Chrome
    </a>
    </p>
</section>
<section class="subsection">
    <h2 id="packages">Packages</h2>
    <p>All the packages are also published on the <a href="https://pypi.python.org/pypi?:action=browse&show=all&c=551">Python Package Index</a>.
    Tryton modules from third parties can also be found there.<br/>
    You can install them using the <a href="https://pip.pypa.io/">pip</a> command-line tool:</p>
    <pre><code class="console">$ python -m pip install trytond       # server
$ python -m pip install tryton        # client
$ python -m pip install trytond_sale  # sale module</code></pre>
    <p class="text-info">Replace <code>trytond_sale</code> with the name of the module needed.</p>
    <p class="text-warning">The web client can not be installed with <code>pip</code>, you must follow this <a href="https://www.npmjs.com/package/tryton-sao#installation">installation procedure</a>.</p>
</section>
<section class="subsection">
    <h2 id="distributions">Distributions</h2>
    <p>Tryton is also packaged and distributed by third-party volunteers.
    These generally provide better integration with the operating system, but often there is a delay before new versions make it into their distributions.</p>
    <ul>
        <li id="archlinux"><a href="https://aur.archlinux.org/packages.php?K=tryton">
                <i class="icon icon-arch-linux"></i> Arch Linux
            </a></li>
        <li id="debian"><a href="https://tryton-team.pages.debian.net/">
                <i class="icon icon-debian"></i> Debian
            </a></li>
        <li id="fedora"><a href="https://apps.fedoraproject.org/packages/s/tryton">
                <i class="icon icon-fedora"></i> fedora
            </a></li>
        <li id="gentoo"><a href="https://wiki.gentoo.org/wiki/Tryton">
                <i class="icon icon-gentoo"></i> Gentoo
            </a></li>
        <li id="openbsd"><a href="https://cvsweb.openbsd.org/cgi-bin/cvsweb/ports/productivity/tryton/">
                <i class="icon icon-openbsd"></i> OpenBSD
            </a></li>
        <li id="opensuse"><a href="https://build.opensuse.org/project/subprojects/Application:ERP:Tryton">
                <i class="icon icon-opensuse"></i> openSUSE
            </a></li>
        <li id="ubuntu"><a href="https://packages.ubuntu.com/search?searchon=names&keywords=tryton">
                <i class="icon icon-ubuntu"></i> Ubuntu
            </a></li>
        <li id="netbsd"><a href="http://pkgsrc.se/meta-pkgs/py-tryton-platform">
                <i class="icon icon-netbsd"></i> NetBSD
            </a></li>
    </ul>
</section>
<section class="subsection">
    <h2 id="third-party-modules">Third Party Modules</h2>
    <p>Tryton has a <a href="https://pypi.python.org/pypi?:action=browse&show=all&c=551">large ecosystem of modules</a>.<br/>
    To ease your choice, we maintain a curated list of <a href="https://discuss.tryton.org/c/third-party-modules">third party modules</a>.</p>
</section>
{% endblock main %}
