<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="{{ description }}"/>
        <meta name="author" content="Tryton"/>
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{ url_for(request.endpoint, _external=True, **request.view_args) }}"/>
        <meta property="og:image" content="{{ url_for('static', filename=(logo or 'images/logo.png'), _external=True, _scheme='http') }}"/>
        <meta property="og:image:secure_url" content="{{ url_for('static', filename=(logo or 'images/logo.png'), _external=True, _scheme='https') }}"/>
        {% if description %}
        <meta property="og:description" content="{{ description }}"/>
        {% endif %}
        <meta property="og:site_name" content="Tryton"/>
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@TrytonSoftware"/>
        <meta name="twitter:title" content="{{ title }}"/>
        {% if description %}
        <meta name="twitter:description" content="{{ description }}"/>
        {% endif %}
        <meta name="twitter:image" content="{{ url_for('static', filename=(logo or 'images/logo.png'), _external=True) }}"/>

        <title>Tryton - {{ title }}</title>
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}"/>

        {% block style %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/screen.min.css') }}"/>
        {% endblock style %}

        <script async src="{{ url_for('static', filename='js/all.js') }}"></script>
    </head>
    <body>

        <header id="header" class="wow fadeIn">
            {% block header %}
            <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand" href="{{ url_for('index') }}">
                        <img class="img-fluid" src="{{ url_for('static', filename='images/tryton-black.png') }}" width="110" height="32" alt="Tryton Home"/>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav ml-auto">
                            {% for title, items in menu.items() %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true">{{ title }}</a>
                                <div class="dropdown-menu dropdown-menu-right text-lg-right">
                                    {% for item, url in items %}
                                    <a class="dropdown-item" href="{{ url }}">{{ item|safe }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </nav>
            {% if datetime.date.today() < datetime.date(2019, 6, 6) %}
            <div class="alert alert-info text-center" role="alert">
                <span class="material-icons align-middle">notifications</span>Do not miss the <a class="alert-link" href="{{ url_for('event', event='tum2019') }}">Tryton Unconference, June 4th-7th 2019</a>!
            </div>
            {% endif %}
            {% endblock header %}
        </header>

        <section id="content">
            {% block content %}
            {% endblock content %}
        </section>

        <footer id="footer">
            {% block footer %}
            <img class="img-fluid wow fadeIn" src="{{ url_for('static', filename='images/placeholder-large.jpg') }}" width="1920" height="350" alt="Placeholder Large"/>
            <section class="topfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                {% for title, items in menu.items() %}
                                <div class="col-md-3">
                                    <h2 id="nav-footer-{{ loop.index }}">{{ title }}</h2>
                                    <nav aira-labelledby="nav-footer-{{ loop.index }}">
                                        <ul>
                                            {% for item, url in items %}
                                            <li>
                                                <a href="{{ url }}">{{ item|safe }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </nav>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="offset-lg-1 col-md-5 col-lg-4">
                            <div class="footer-right">
                                <img class="img-fluid wow fadeIn" src="{{ url_for('static', filename='images/tryton-white.png') }}" width="110" height="32" alt="Tryton" />
                                <hr/>
                                <p class="lead">Modularity, scalability & security for your business</p>
                                <p>
                                <strong>TRYTON</strong> is business software, ideal for communities of any size,<br/>easy to use, complete and <strong>100% Open Source</strong>.
                                </p>
                                <div class="socials">
                                    <h2>Follow us</h2>
                                    <a href="https://twitter.com/TrytonSoftware" target="_blank" class="mr-3 wow zoomIn icon icon-twitter-box i-36" data-wow-delay=".2s"><span class="sr-only">Twitter</span></a>
                                    <a href="https://www.facebook.com/TrytonSoftware/" target="_blank" class="mr-3 wow zoomIn icon icon-facebook-box i-36" data-wow-delay=".1s"><span class="sr-only">Facebook</span></a>
                                    <a href="https://www.linkedin.com/groups/1313967" target="_blank" class="mr-3 wow zoomIn icon icon-linkedin-box i-36" data-wow-delay=".3s"><span class="sr-only">LinkedIn</span></a>
                                    <a href="https://www.youtube.com/c/TrytonSoftware" target="_blank" class="mr-3 wow zoomIn icon icon-youtube i-36" data-wow-delay=".4s"><span class="sr-only">YouTube</span></a>
                                    <a href="https://vimeo.com/groups/tryton" target="_blank" class="mr-3 wow zoomIn icon icon-vimeo i-36" data-wow-delay=".5s"><span class="sr-only">Vimeo</span></a>
                                    <a href="https://plus.google.com/communities/111064602356347307346" target="_blank" class=" wow zoomIn icon icon-google-plus-box i-36" data-wow-delay=".6s"><span class="sr-only">Google+</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="subfooter">
                <div class="container">
                    <p>Contents © {{ copyright_dates }} Tryton <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a></p>
                </div>
            </section>
            {% endblock footer %}
        </footer>

        {% block script %}
        {% endblock %}
    </body>
</html>
