{% set title = "Service Providers" %}
{% set description = "List of companies providing service on Tryton" %}
{% set keywords = ["service", "company", "support" ] %}
{% extends "layout.html" %}
{% block content %}
{{ super() }}
<div class="section bg-primary">
    <div class="container">
        <section class="section-header text-center text-white bg-primary mb1">
            <h1 class="pl-3 pr-3">{{ title }}</h1>
        </section>
        <div class="d-none d-sm-block mx-auto col-md-6 card">
            <div class="card-body">
                <div id="map" style="height: 300px;"></div>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="row">
            {% for provider, _ in providers %}
            {% set name = provider %}
            {% include "service_providers/%s.html" % provider|lower|slugify %}
            {% endfor %}
        </div>
    </div>
</section>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <p class="p-3 mb-2 bg-info text-white rounded">
                Want to be listed here? Check how to <a href="{{ url_for('service_providers_start') }}">become a service provider</a>.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}"/>
{% endblock style %}

{% block script %}
<script async src="{{ url_for('static', filename='js/map.js') }}"></script>
<script>
    function setupMap() {
        L.Icon.Default.imagePath = '/static/images/';
        var map = L.map('map').setView([0, 0], 1);
        L.tileLayer('//{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        var markers = {{ providers | tojson }};
        markers.forEach(function(marker) {
            var name = marker[0];
            marker[1].forEach(function(LatLng) {
                L.marker(LatLng).addTo(map)
                    .bindPopup('<a href="#' + name.toLowerCase().replace(/ /g, '-') + '">' + name + '</a>');
            });
        });
    }
</script>
{% endblock script %}
