{% set title = "Success Stories" %}
{% set description = "List of Tryton's success stories" %}
{% set keywords = ["sucess story", "review", "case study" ] %}
{% extends "layout.html" %}
{% from "utils.html" import background %}
{% block style %}
{{ super() }}
{{ background('banner-success-stories') }}
{% endblock %}
{% block content %}
{{ super() }}
<div class="section section-banner background-banner-success-stories filter filter-primary text-center">
    <div class="container">
        <h1 class="mb-0 text-white position-relative z-1">{{ title }}</h1>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="row">
        {% for case in cases %}
        <div class="col mb-gutter">
            <div class="card mx-auto shadow" style="width: 18rem">
                {% if case.logo %}
                <img class="card-img-top" src="{{ url_for('static', filename=case.logo) }}" style="height: 180px" alt=""/>
                {% endif %}
                <div class="card-body">
                    <h2 class="h5 card-title">{{ case.title }}</h2>
                    <p class="card-text">{{ case.description }}</p>
                    <a href="{{ case.url }}" class="btn btn-primary {{ 'disabled' if not case.url else '' }}" {% if not case.url %}aria-disabled="true"{% endif %}>More<span class="sr-only">on {{ case.title }}</span></a>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
