{% extends "layout.html" %}
{% block title %}
Tryton -Supporters
{% endblock %}
{% block content %}
{{ super() }}
<section class="section bg-primary">
    <div class="container">
        <section class="section-header text-center text-white bg-primary mb1 wow fadeInDown">
            <h1 class="pl-3 pr-3">Supporters</h1>
        </section>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            {% for supporter in supporters %}
            {% set discuss  = discuss_url(supporter) %}
            {% set roundup = roundup_url(supporter) %}
            <div class="col mb-gutter">
                <div class="card mx-auto shadow" style="width: 200px">
                    <img class="card-img-top" src="{{ supporter['email'] | gravatar }}"/>
                    <div class="card-body">
                        <h6 class="card-title">{{ supporter['name'] }}</h6>
                        {% if discuss %}
                        <a href="{{ discuss }}"><span class="material-icons">forum</span></a>
                        {% endif %}
                        {% if roundup %}
                        <a href="{{ roundup }}"><span class="material-icons">bug_report</span></a>
                        {% endif %}
                    </div>
                    {% if supporter['website'] and supporter['website'] not in [discuss, roundup] %}
                    <div class="card-footer text-truncate">
                        <a href="{{ supporter['website'] }}">{{ supporter['website'] | hostname }}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <p class="mt-5 text-center">
        If you want to become a supporter, please send an email to <a href="mailto:foundation@tryton.org">foundation@tryton.org</a>.
        </p>
        </div>
    </div>
</section>
{% endblock %}
