{% macro background(name) %}
<style>
.background-{{ name | replace('/', '-') }} {
    background-image: url('{{ url_for('static', filename='images/%s.webp' % name) }}');
}
@media (max-width: 800px) {
    .background-{{ name | replace('/', '-') }} {
        background-image: url('{{ url_for('static', filename='images/%s-800px.webp' % name) }}');
    }
}
@media (max-width: 400px) {
    .background-{{ name | replace('/', '-') }} {
        background-image:url('{{ url_for('static', filename='images/%s-400px.webp' % name) }}');
    }
}
</style>
{% endmacro %}

{% macro case_card(case, classes='', loading='lazy') %}
<div class="card mx-auto shadow d-flex flex-column {{ classes }}" style="max-width: 300px; height: 100%">
    {% if case.logo %}
    <img style="object-fit: cover;" class="card-img-top" src="{{ url_for('static', filename=case.logo) }}" alt="" loading="{{ loading }}" height="200" width="300"/>
    {% endif %}
    <div class="card-body">
        <h2 class="h5 card-title">{{ case.title }}</h2>
        <p class="card-text">{{ case.description }}</p>
    </div>
    <a {% if case.url %}href="{{ case.url }}"{% else %}aria-disabled="true"{% endif %} class="card-footer text-center text-uppercase {{ 'disabled' if not case.url else '' }}">More<span class="visually-hidden">on {{ case.title }}</span></a>
</div>
{% endmacro %}

{% macro icon(name, width=16, height=None) %}<svg class="icon" width="{{ width }}" height="{{ height or width }}">
    <use href="{{ url_for('static', filename='images/icons.svg')|url_local }}#{{ name }}"></use>
</svg>{% endmacro %}
